* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Josefin Sans;
  /* background-color: white; */
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6962ad;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  position: relative;
}
.fa-circle-half-stroke {
  position: absolute;
  top: 120px;
  right: 20px;
  font-size: 30px;
  /* cursor: pointer; */
}
.nav-logo {
  width: 30%;
}
.div-ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-family: Josefin Sans;
  font-size: 20px;
}
.nav-li a {
  display: flex;
  gap: 10px;
}
#sub-menu {
  list-style-type: none;
  position: absolute;
  top: 26px;
  left: 0px;
  display: none;
}
.nav-li {
  position: relative;
}
.container {
  margin: 100px 200px;
}
.container-1 {
  display: flex;
}
.container-one-img {
  width: 80%;
}
.banner-1 {
  width: 100%;
}
h1 {
  font-size: 39px;
  font-weight: 900;
  line-height: 50px;
  font-family: Josefin Sans;
}
p {
  font-size: 20px;
}
.text-1 {
  margin: 100px 0 0 0px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-one-img {
  margin: 0 59px;
}
.work-button {
  width: 210px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
  background-color: #0008c1;
  border: none;
  color: white;
}
.work-button {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 46px;
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  border: 3px solid seagreen;
  color: seagreen;
  font-size: 20px;
  font-family: arial;
  position: relative;
  overflow: hidden;
  background: transparent;
  text-transform: uppercase;
  transition: all 0.35s;
}

.work-button:before,
.work-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: seagreen;
  z-index: -1;
  transition: all 0.35s;
}

.work-button:before {
  opacity: 0.5;
}

.work-button:after {
  transition-delay: 0.2s;
}

.work-button:hover {
  color: #fff;
}

.work-button:hover:before,
.work-button:hover:after {
  top: 0;
}
h2 {
  font-size: 30px;
  font-weight: 900;
  line-height: 35px;
  padding-bottom: 30px;
  padding-left: 25px;
  text-align: center;
  font-family: Josefin Sans;
}
.stock-img-container {
  width: 100%;
  overflow: hidden;
}
.stock-img {
  width: 100%;
  transition: 0.3s ease;
}
.stock-img:hover {
  transform: scale(1.1);
}
.card-main {
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
  width: 49%;
  position: relative;
  overflow: hidden;
}
.case-study-a {
  width: 110px;
  height: 30px;
  background-color: #15c739;
  padding: 6px 15px;
  color: #fff;
  font-size: 12px;
  line-height: 1.4;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 20px;
}
#sub-menu {
  background-color: #6962ad;
  padding: 40px 20px 20px 20px;
  width: 300px;
}
#sub-menu li a {
  padding-bottom: 20px;
}
.h2-card {
  font-size: 22px;
  line-height: 1.2;
  padding-bottom: 10px;
  margin: 0;
  padding-left: 0;
  text-align: start;
}
.card-contain {
  padding: 10px 15px 15px;
}
.user-date {
  display: flex;
  align-items: center;
  font-size: 10px;
}
.card-container {
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
}
.arrow-right {
  display: flex;
  gap: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 15px;
}
.p-card {
  font-size: 15px;
}
.right-arrow {
  align-items: center;
  line-height: 1.2;
  font-size: 14px;
  color: #666;
  margin-top: 15px;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.music-img {
  border-radius: 20px;
}

.poster {
  width: 30%;
  background-color: #eee;
  padding: 40px;
  border-radius: 20px;
}
.poster:hover {
  background-color: #e0ccbe;
}
.poster h3 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
.poster p {
  margin-bottom: 50px;
}

.blue-button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  /* margin: 36px; */
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.blue-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.blue-button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.blue-button:hover {
  padding-right: 24px;
  padding-left: 8px;
  background-color: #3652ad;
}

.blue-button:hover:after {
  opacity: 1;
  right: 10px;
}
.poster a {
  color: white;
}
.poster-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  position: relative;
}
.poster-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.calender-img {
  width: 15%;
  mix-blend-mode: multiply;
}
.poster-1 h3 {
  padding: 0;
}
.time-line-card {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #eee;
  padding: 40px;
  border-radius: 20px;
}
.timeline-poster {
  width: 47%;
  overflow: hidden;
  transition: all 0.5s;
}
.info {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: space-around;
}
.info h2 {
  padding-bottom: 0;
  text-align: start;
}
.info p {
  padding-left: 25px;
}
.contact-info {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}
.contact-label {
  font-size: 40px;
  font-family: Josefin Sans;
}
#contact-input {
  outline: 2px solid white;
  width: 80%;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  border: 5px solid black;
  font-size: 25px;
  background-color: #b94c9c;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.contact-button {
  height: 50px;
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.label-div {
  background-color: #222;
  color: #aaa;
  border-radius: 20px;
  padding: 20px;
}

.card {
  perspective: 1000px;
  width: 300px;
  position: relative;
}

.card-content {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
  transition: all 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.card-more {
  position: absolute;
  top: 0;
  left: 350px;
}
.card-again {
  position: absolute;
  top: 0;
  left: 700px;
}
.card-back {
  transform: rotateY(180deg);
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0);
}

.card-content img {
  width: 30%;
  object-fit: cover;
}

.card-body h3 {
  margin-bottom: 20px;
}
.main-card {
  padding-left: 60px;
}
.container-5 {
  margin-top: 30%;
}
/* slider */
.download {
  padding: 1.25rem;
  border: 0;
  border-radius: 3px;
  background-color: #4f46e5;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.download:hover {
  color: #fff;
}
#carbonads {
  display: block;
  overflow: hidden;
  max-width: 728px;
  position: relative;
  font-size: 22px;
  box-sizing: content-box;
}
#carbonads > span {
  display: block;
}
#carbonads a {
  color: #4f46e5;
  text-decoration: none;
}
#carbonads a:hover {
  color: #4f46e5;
}
.carbon-wrap {
  display: flex;
  align-items: center;
}
.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}
.carbon-img img {
  display: block;
  height: 90px;
  width: auto;
}
.carbon-text {
  display: block;
  padding: 0 1em;
  line-height: 1.35;
  text-align: left;
}
.carbon-poweredby {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  border-top-left-radius: 4px;
  line-height: 1;
  color: #aaa !important;
}
.ac-slider-item img {
  height: 500px;
  /* width: 500px; */
  object-fit: cover;
}
@media only screen and (min-width: 320px) and (max-width: 759px) {
  .carbon-text {
    font-size: 14px;
  }
}

/* footer */
.footer-a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #111;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  position: relative;
  transition: 0.5s;
}

.footer-a:hover {
  color: #ec4c89;

  box-shadow: 0 0 9px 7px #b94c9c;
  text-shadow: 0px 0px 20px #df10ff;
}
.footer-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
}
footer {
  background-color: #222;
  padding: 30px 0;
}
.footer-links a {
  color: bisque;
  opacity: 0.7;
}
.footer-main p {
  color: #ec4c89;
  opacity: 0.9;
}
.poster-container .timeline-poster {
  background-color: #e0ccbe;
}
.timeline-poster:hover {
  transform: scale(0.9);
  box-shadow: #b94c9c78 0px 2px 12px 5px,
    rgba(200, 56, 56, 0.3) 0px 1px 3px -1px;
}
/* buttton */
.btn {
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(45deg, #333, #fff);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Button hover animation */
.btn::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #fff;
  transition: width 0.3s ease;
}

.btn:hover {
  background: linear-gradient(45deg, #2980b9, #9b59b6);
  color: #fff;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  z-index: -1;
}

.btn:hover::after {
  transform: translateY(0);
}
.rights {
  font-family: Josefin Sans;
}
.footer-links a {
  font-family: Josefin Sans;
}
